<div class="app-loader" *ngIf="loading!==100">

  <img src="assets/common/logo.png" alt="*" class="game-logo">

  <div class="loader">
    <div class="percentage" [ngStyle]="{'width': loading+'%'}"></div>
    <div class="text">{{loading}}%</div>
  </div>

  <div class="bitovi">
    <div class="text">Created By</div>
    <img src="assets/common/bitovi.webp" alt="*" class="bitovi-logo">

  </div>

</div>

<div class="game" [hidden]="loading<100">
  <div id="pixiGameContainer" #pixiGameContainer></div>
</div>