@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
    
    font-family: 'Squada One', cursive;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}